<div class="container">
  <div class="main-feed">
    <div>
      <label class="label">Age range</label>
      <select required name="ageRange" id="ageRange" [(ngModel)]="ageChosen">
        <option [value]="type" *ngFor="let type of ageRanges">{{AgeRange2LabelMapping[type]}}</option>
      </select>
      <p *ngIf="!ageChosen" class="center-align warning">Field is required!
      <p>
    </div>

    <div>
      <label class="label">Income</label>
      <select name="Income" id="Income" [(ngModel)]="incomeChosen">
        <option [value]="type" *ngFor="let type of income">{{Income2LabelMapping[type]}}</option>
      </select>
    </div>

    <div class="checkbox">
      <label>Student </label>
      <input type="checkbox" [(ngModel)]="isStudentChosen">
    </div>

    <div class="center-align">
      <button (click)="search()" class="button"> Search</button>
    </div>
  </div>

  <div class="" *ngFor="let product of products">
    <app-product [product]="product"></app-product>
  </div>

  <em *ngIf="!products">No results. Choose criteria and search.</em>
</div>
